<div class="sidebar">
  <div class="cat" routerLink="/loja/hamburgueres">
    <img src="../../assets/img/burguer-icon.png" alt="imagem lanche" />
    <p>Hamburgueres</p>
  </div>

  <div class="cat" routerLink="/">
    <img src="../../assets/img/drink-icon.png" alt="imagem bebida" />
    <p>Bebidas</p>
  </div>

  <div class="cat" routerLink="/">
    <img src="../../assets/img/fries-icon.png" alt="imagem acompanhamento" />
    <p>Acompanhamentos</p>
  </div>

  <div class="cat" routerLink="/">
    <img src="../../assets/img/dessert-icon.png" alt="imagem sobremesa" />
    <p>Sobremesas</p>
  </div>
</div>
